<form action="/users/create" method="post">
    <input type="email" name="email" placeholder="abc@email.com" required>
    
    <input type="password" name="password" placeholder="abc123" required>

    <input type="password" name="confirm_password" placeholder="abc123" required>

    <input type="text" name="name" placeholder="amit" required>
    
    <button type="submit">Sign up</button>
</form>