<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="abc@email.com" required>
    
    <input type="password" name="password" placeholder="abc123" required>
    
    <button type="submit">Sign In</button>
</form>